@import './base.css';

#app {
  height: 100dvh;
  width: 100%;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(157, 100%, 48%, 0.4);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {

    color: hsla(160, 100%, 37%, 1);
  }
}
